.btn-flat {
    background-color: purple !important;
    color: white !important;
  }
  
.badge.bg-yellow{
  background-color: #FFF748 !important;

}
.badge.bg-blue{
  background-color: #013DC4 !important;

}
.badge.bg-parme{
  background-color: #8000FF !important;

}
.badge.bg-blanche{
  background-color: #F7F7F7 !important;

}
.badge.bg-rose{
  background-color: #ED2188 !important;

}
.badge.bg-vert{
  background-color: #006838 !important;

}
.badge.bg-orange{
  background-color: #F7C5CC !important;

}

.nav-pills .nav-link.active.yellow,.nav-pills .show>.nav-link.yellow{
  color:black;background-color:#FFF748 !important;
}
.nav-pills .nav-link.active.blue,.nav-pills .show>.nav-link.blue{
  color:#fff;background-color:#013DC4 !important;
}
.nav-pills .nav-link.active.parme,.nav-pills .show>.nav-link.parme{
  color:#fff;background-color:#8000FF !important;
}
.nav-pills .nav-link.active.blanche,.nav-pills .show>.nav-link.blanche{
  color:black;background-color:#F7F7F7 !important;
}
.nav-pills .nav-link.active.rose,.nav-pills .show>.nav-link.rose{
  color:#fff;background-color:#ED2188 !important;
}
.nav-pills .nav-link.active.vert,.nav-pills .show>.nav-link.vert{
  color:#fff;background-color:#006838 !important;
}
.nav-pills .nav-link.active.orange,.nav-pills .show>.nav-link.orange{
  color:#fff;background-color:#F7C5CC !important;
}
