

#left-tabs-example-tab-Jaune.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: #ffcb05 !important;
    color: black !important

}
#left-tabs-example-tab-Bleue.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: #034ea2 !important;
}
#left-tabs-example-tab-Blanche.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: White !important;
    color: black !important
}
#left-tabs-example-tab-Parme.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: #8e5ba6 !important;
}
#left-tabs-example-tab-Verte.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: #00a651 !important;
}
#left-tabs-example-tab-Rose.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: #f067a6 !important;
}
#left-tabs-example-tab-Orange.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    opacity:1 ;
    background-color: #f7941d !important;
}
#left-tabs-example-tab-coronavirus.nav-link.active{
    margin-right: -1px;
    border-color:  #dee2e6 #fff;
    background-color: #ed1c24 !important;
    opacity:1 ;
}




#left-tabs-example-tab-Jaune.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #ffcb05 ;
    color: black 

}
#left-tabs-example-tab-Bleue.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #034ea2 ;
    color: black !important

}
#left-tabs-example-tab-Blanche.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: White ;
    color: black 
}
#left-tabs-example-tab-Parme.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #8e5ba6 ;
    color: black !important;

}
#left-tabs-example-tab-Verte.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #00a651 ;
    color: black !important;

}
#left-tabs-example-tab-Rose.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #f067a6 ;
    color: black !important;

}
#left-tabs-example-tab-Orange.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #f7941d ;
    color: black !important;

}
#left-tabs-example-tab-coronavirus.nav-link{
    border: 2px solid transparent;
    opacity: 0.7;
    background-color: #ed1c24 ;
    color: black !important;

}

