.App{
    display: flex;
    flex-flow: column;
      height: 100%;

}

.Navcolor{
    background: #034ea2 !important; 
}

@media all {
  div{
    display: block;
  }
    .page-break {
      display: none;
    }
  }
  
  @media print {
    html, body {
      height: initial !important;
      overflow: initial !important;
      -webkit-print-color-adjust: exact;
    }
  }
  
  @media print {
    .page-break {
      margin-top: 1rem;
      display: block;
      page-break-before: auto;
    }
  }
  @page {
    size: auto;
    margin-top: 20mm;
  }